body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sd-row--multiple > div {
  justify-content: center; /* Add justify-content property */
}

.sd-question--html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sd-row__question--small {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

@media print {
  #sv-nav-complete,
  #survey_save_as_file {
    display: none !important;
  }
}
